__დავალება 1.__

დაამთავრეთ პრორამის კოდი კლავიატურიდან შეტანილი რიცხვის მოდულის გამოსათვლელად. შედეგის ეკრანზე გამოსატანად გამოიყენეთ ფუნქცია `print`.

_ნიმუში:_

```python
Sample Input:
-5

Sample Output:
5
```

In [3]:
d = int(input())
print(abs(d))

 -5

5

__დავალება 2.__

დაამთავრეთ პრორამის კოდი კლავიატურიდან ხუთი შეტანილი რიცხვიდან მინიმუმის საპოვნელად. შედეგის ეკრანზე გამოსატანად გამოიყენეთ ფუნქცია `print`.

_ნიმუში:_

```python
Sample Input:
8 11 -5 3 0

Sample Output:
-5
```

In [2]:
d1, d2, d3, d4, d5 = map(int, input().split())
print(min(d1,d2,d3,d4,d5))

 8 11 -5 3 0

-5

__დავალება 3.__

დაამთავრეთ პრორამის კოდი კლავიატურიდან ხუთი შეტანილი რიცხვიდან მაქსიმუმის საპოვნელად. შედეგის ეკრანზე გამოსატანად გამოიყენეთ ფუნქცია `print`.

_ნიმუში:_

```python
Sample Input:
8 11 -5 3 0

Sample Output:
11
```

In [4]:
d1, d2, d3, d4, d5 = map(int, input().split())
print(max(d1,d2,d3,d4,d5))

 8 11 -5 3 0

11

__დავალება 4.__

რომელი ბრძანება უნდა ჩავწეროთ პროგრამაში `math` მოდულის გამოსაყენებლად?

* math import
* include math
* math
* import from math
* import math

In [6]:
import math

__დავალება 5.__

დაამთავრეთ პრორამის კოდი მოცემული ფორმულით:

$$ \sqrt{a^2 + b^2} $$

`a` და `b` კლავიატურიდან შეტანილი მთელი რიცხვებია. შედეგი დაამრგვალეთ მეასედამდე. ეკრანზე გამოსატანად გამოიყენეთ ფუნქცია `print`.

_ნიმუში:_

```python
Sample Input:
3 4

Sample Output:
5.0
```

In [10]:
a, b = map(int, input().split())
print(round(math.sqrt(a**2+b**2), 2))

 3 4

5.0

__დავალება 6.__

დაამთავრეთ პრორამის კოდი მოცემული ფორმულით:

$$ C^k_n = \frac{n!}{k!(n - k)!} $$

`n` და `k` კლავიატურიდან შეტანილი მთელი რიცხვებია. შედეგი გამოიტანეთ ეკრანზე მთელი რიცხვის სახით `print` ფუნქციის გაოყენებით.

_ნიმუში:_
```python
Sample Input:
6 3

Sample Output:
20
```

In [20]:
import math
n, k = map(int, input().split())
print(math.trunc(math.factorial(n) / (math.factorial(k) * (math.factorial(n - k)))))

 6 3

20

__დავალება 7.__

საზაფხულო ბანაკში საჭიროა `n` ბავშვისა და `m` მასწავლებლის ავტობუსით გადაყვანა. ავტობუსში ეტევა 20 ადამიანი. დაამთავრეთ პროგრამის კოდი მინიმალური რაოდენობის ავტობუსის გამოსათვლელად ბავშვებისა და მასწავლებლების გადასაყვანად. შედეგი გამოიტანეთ ეკრანზე მთელი რიცხვის სახით `print` ფუნქციის გაოყენებით.

_ნიმუში:_
```python
Sample Input:
40 5

Sample Output:
3
```

In [24]:
n, m = map(int, input().split())
print((math.ceil((n+m)/20)))

 40 5

3

__დავალება 8.__

ტუშის კალამი ღირს `x` ლარი. მაღაზიაში მოქმედებს 10%-იანი ფასდაკლება კალმების შესყიდვაზე. რა მაქსიმალური რაოდენობის კალმის ყიდვაა შესაძლებელი 25 ლარის შემთხვევაში? შედეგი გამოიტანეთ ეკრანზე მთელი რიცხვის სახით `print` ფუნქციის გაოყენებით.

_ნიმუში:_
```python
Sample Input:
1

Sample Output:
27
```

In [25]:
x = int(input())
xy= x * 0.9
num= 25 // xy
print(int(num))

 1

27